.HeaderBar-Main-Container {
	padding: 20px 30px;
	text-align: left;
	text-transform: uppercase;
	box-shadow: 4px 0px 4px grey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
